version: "3"

services:
  api:
    build: .
    ports:
    - '4032:4032'
    volumes:
      - .:/app
      - /app/node_modules
  db:
    image: 'postgres'
    ports: 
    - '5432:5432'
    environment:
      POSTGRES_PASSWORD: '12345'
      POSTGRES_USER: 'postgres'
      POSTGRES_DB: 'book_api'
    volumes:
      - data:/var/lib/postgresql/data
      
volumes:
  data: